<?xml version="1.0"?>
<robot name="bottle" xmlns:drake="https://drake.mit.edu/">
    <link name="body">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.1" />
            <inertia
                ixx="0.1253895"
                ixy="0.01651905"
                ixz="-0.01029613"
                iyy="0.17449277"
                iyz="0.00022493"
                izz="0.09330926"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="bundlesdf_bottle_mesh.obj"/>
            </geometry>
            <material name="pennred">
                <color rgba="0.6 0 0 1.0" />
            </material>
        </visual>
        <collision>
            <geometry>
                <mesh filename="bundlesdf_bottle_mesh.obj"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <drake:proximity_properties>
                <drake:mu_static value="0.15" />
            </drake:proximity_properties>
        </collision>
    </link>
</robot>